<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="len.com.k3query" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"> </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LodActivity"
            android:hardwareAccelerated="false"

            android:launchMode="singleInstance">

        </activity>
        <activity android:name=".modActivity">

        </activity>
        <activity android:name=".ChooseItem"

            android:theme="@style/MyDialogTopRight">

        </activity>
        <activity android:name=".settingactivity">

        </activity>
        <activity android:name=".FanLi">

        </activity>

        <activity android:name=".utils.helpActivty">

        </activity>
        <activity android:name=".upgrateActivity"/>

        <service android:name=".service.queryservice"></service>
        <service android:name=".service.k3queryservice"></service>
        <service android:name=".OrderService"></service>


        <service android:name=".service.httpget"></service>




    </application>

</manifest>